<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>6108706958-raqu4md6qaco1f8vp3nk4utbmff4o33t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6108706958-raqu4md6qaco1f8vp3nk4utbmff4o33t</string>
	<key>API_KEY</key>
	<string>AIzaSyCRho33T8P3zW-7Z_-QNU8jKtggupPHZug</string>
	<key>GCM_SENDER_ID</key>
	<string>6108706958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.runtime-revolution.MyTasks</string>
	<key>PROJECT_ID</key>
	<string>tasks-cfde7</string>
	<key>STORAGE_BUCKET</key>
	<string>tasks-cfde7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6108706958:ios:5677eef897f0459a</string>
	<key>DATABASE_URL</key>
	<string>https://tasks-cfde7.firebaseio.com</string>
</dict>
</plist>